<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
		<title>Адгезионный грунт Mineral Grund - Структурные штукатурки - Продукция Торговая марка Finncolor - Тиккурила/Tikkurila</title>
<meta name="description" content="&amp;#127912; Лакокрасочная продукция Finncolor. Фасадная укрепляющая грунтовка Gravel strong. Фасовка: 2,7 л, 9 л. Цвет - белый. Расход и время высыхания. Гарантия качества и безопасности." />
<link rel="stylesheet" type="text/css" href="/styles/reset.css?1563218586" />
<link rel="stylesheet" type="text/css" href="/styles/facebox.css?1563218586" />
<link rel="stylesheet" type="text/css" href="/styles/layout.css?1629361789" />
<link rel="stylesheet" type="text/css" href="/styles/work.css?1631529842" />
<script src="/scripts/jquery.js?1563218586"></script>
<script src="/scripts/jquery/facebox.js?1563218586"></script>
<script src="/scripts/site.js?1600072063"></script>



		<meta name=tagline content=http://techart.ru/>
		<meta name="yandex-verification" content="d1db18c8c8cfc571" />
		<link rel="shortcut icon" href="/favicon.ico">
		<script> 
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ 
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), 
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) 
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); 

  ga('create', 'UA-33928014-1', 'auto'); 
  ga('send', 'pageview'); 

</script>	</head>
	<body>
			<div class="cookies_window">Веб-сайт использует cookies, которые позволяют оптимизировать работу с сайтом. Продолжая
			просмотр этого сайта, вы соглашаетесь на использование cookies. <a href="/image/POLITIKA-KONFIDENTsIALNOSTI-TIKKURILA-_002_.pdf" target="_blank">Узнать больше.</a><div><a href="#" class="close_window">ОК</a></div>
		</div>
				<div class="main-container">
			<div id="top">
	<a href="/" class="logo"></a>
	<div class="top-container">
		<div class="small-search-container">
			<div class="small-search">
				<form action="/search/">
					<input type="hidden" name="searchid" value="2169127">
					<input class="js-query" type="text" name="text">
					<input class="js-submit" type="image" src="/image/layout/search-button-new.png">
				</form>
			</div>
			<div id="connection-panel">
	<div class="connection-panel-item panel-telephone">
		<div>8 800 100 07 70</div>
		<div>ЗВОНОК ПО РОССИИ БЕСПЛАТНЫЙ</div>
	</div>
</div>
		</div>
		<div class="menu">
			<a href="/products/" class="current first" target="">Продукция</a>
<a href="/catalog/certificates/" target="">Сертификаты</a>
<a href="/colers/" target="">Колеровка</a>
<a href="/tips/" target="">Идеи по покраске</a>
<a href="/stores/" target="">Где купить</a>
<a href="https://shop.tikkurila.ru/catalogsearch/result/?q=finncolor/" class="last away" target="_blank">Купить онлайн</a>
		</div>
	</div>
</div>
			<div class="main-content">
<!--скрываем левоее меню если страница "идея по покраске"-->
                				<div id="left-column">
										<div class="catalog-menu-left">
							<div class="item catalog6 disabled">
		<a href="/products/water-dispersion-paints/">Интерьерные краски</a>
			</div>
		<div class="item catalog11 disabled">
		<a href="/products/facade/">Фасадные краски</a>
			</div>
		<div class="item catalog7 disabled">
		<a href="/products/enamels/">Эмали</a>
			</div>
		<div class="item catalog9 disabled">
		<a href="/products/primers/">Грунтовки и Шпатлевки</a>
			</div>
		<div class="item catalog23 ">
		<a href="/products/structural/" class="current">Структурные штукатурки</a>
		<ul>
<li class="current"><a href="/view/195/">Адгезионный грунт Mineral Grund</a></li>
<li><a href="/view/192/">Структурная декоративная штукатурка Mineral Decor. Эффект – короед 2 мм</a></li>
<li><a href="/view/193/">Структурная декоративная штукатурка Mineral Decor. Эффект – шуба 1,5 мм</a></li>
<li><a href="/view/194/">Структурная декоративная штукатурка Mineral Decor. Эффект – шуба 2,5 мм</a></li>
</ul>
	</div>
		<div class="item catalog25 disabled">
		<a href="/products/km-0/">Негорючие краски</a>
			</div>
						</div>
				</div>
                				<div id="right-column">
											<div id="route"><div class="route">
	<a href="/">Главная</a>
	 / <a href="/products/">Продукция</a> / <a href="/products/structural/">Структурные штукатурки</a> / <a class="last" href="/view/195/">Адгезионный грунт Mineral Grund</a></div>
</div>
										<div id="content">
<div id="catalog-item" class="catalog">
	<h1 class="section-color">Адгезионный грунт Mineral Grund</h1>
	<div class="clear"></div>
	<div class="img-description">
					<div class="img cell">
				<a rel="facebox" href="/files/treecontent/items/full/100/image_full-195.jpg">
					<img alt="Адгезионный грунт Mineral Grund" src="/files/treecontent/items/index/100/image_index-195.jpg" />
																								</a>
				
			</div>
		

		<div class="cell">
			<div class="description">Готовый к применению колеруемый адгезионный грунт для внутренних и наружных поверхностей. Рекомендуется для качественной предварительной подготовки поверхности перед нанесением структурных декоративных штукатурок и красок. Адаптирован для нанесения распылением.</div>
<!--			--><!--				<a class="big_blue" href="/--><!--">Технические спецификации</a>-->
<!--				<span class="file-info">-->
<!--					(--><!--, --><!--)-->
<!--				</span>-->
<!--			-->
							<div class="cert-links">
					<h2>Сертификаты</h2>
                                                                        <a class="document big_blue cert" href="/files/treecontent/certificates/200/image_full-298.pdf">Техническая спецификация</a>
                            <div class="nl"></div>
                                                                                                                                                                                                                                                                        																													<a class="document big_blue cert" href="/files/treecontent/certificates/100/image_full-198.pdf">СЭЗ или СГР</a>
							<div class="nl"></div>
																								<a class="document big_blue cert" href="/files/treecontent/certificates/200/image_full-230.pdf">Обязательный или Добровольный пожарный сертификат</a>
							<div class="nl"></div>
																								<a class="document big_blue cert" href="/files/treecontent/certificates/200/image_full-286.pdf">Отказное письмо (пожарное)</a>
							<div class="nl"></div>
																								<a class="document big_blue cert" href="/files/treecontent/certificates/300/image_full-318.pdf">Сертификат соответствия или Отказное письмо (об отсутствии обязательного сертификата или декларации соответствия)</a>
							<div class="nl"></div>
																								<a class="document big_blue cert" href="/files/treecontent/certificates/300/image_full-321.pdf">Отказное письмо (пожарное)</a>
							<div class="nl"></div>
															</div>
			
		</div>

	</div>

	

	<table class="parms">
															<tr class="odd">
					<th>Цвет</th>
					<td>Белый</td>
				</tr>
																<tr class="even">
					<th>Тип поверхностей</th>
					<td>для бетонных, оштукатуренных, кирпичных, фиброцементных, гипсокартонных, из ДВП и ДСП поверхностей</td>
				</tr>
																<tr class="odd">
					<th>Расход</th>
					<td>5-7 м2/л</td>
				</tr>
																<tr class="even">
					<th>Время высыхания</th>
					<td>до 12 часов</td>
				</tr>
																<tr class="odd">
					<th>Срок годности</th>
					<td>2 года</td>
				</tr>
																<tr class="even">
					<th>Фасовки</th>
					<td>2,7 л, 9 л</td>
				</tr>
																<tr class="odd">
					<th>Колеровка</th>
					<td>Колеруется по каталогам «Тиккурила Фасад», «Тиккурила Симфония» и каталогам ТЕКС. Допускается ручная колеровка колер-красками ТЕКС</td>
				</tr>
											</table>
		<a class="find-store" href="/stores/"><img src="/image/layout/find-store.gif" /></a>
			<div class="neighbors">
			<div class="title">Другие структурные штукатурки</div>
												<a href="/view/192/">
						<span class="image">
							<img src="/files/treecontent/items/thumb/100/image_thumb-192.png" alt="Структурная декоративная штукатурка Mineral Decor. Эффект – короед 2 мм" />
						</span>
						Структурная декоративная штукатурка Mineral Decor. Эффект – короед 2 мм					</a>
																<a href="/view/193/">
						<span class="image">
							<img src="/files/treecontent/items/thumb/100/image_thumb-193.png" alt="Структурная декоративная штукатурка Mineral Decor. Эффект – шуба 1,5 мм" />
						</span>
						Структурная декоративная штукатурка Mineral Decor. Эффект – шуба 1,5 мм					</a>
																<a href="/view/194/">
						<span class="image">
							<img src="/files/treecontent/items/thumb/100/image_thumb-194.png" alt="Структурная декоративная штукатурка Mineral Decor. Эффект – шуба 2,5 мм" />
						</span>
						Структурная декоративная штукатурка Mineral Decor. Эффект – шуба 2,5 мм					</a>
																</div>
		
</div>
</div>
				</div>
			</div>
			<div id="bottom">
	<a href="/" class="logo"></a>
	<div class="bottom-links">
		<div class="bottom-links-container">
            <a href="/about/" target="_blank">О компании</a>
			<a href="/products/" class="current first" target="">Продукция</a>
<a href="/catalog/certificates/" target="">Сертификаты</a>
<a href="/colers/" target="">Колеровка</a>
<a href="/tips/" target="">Идеи по покраске</a>
<a href="/stores/" target="">Где купить</a>
<a href="https://shop.tikkurila.ru/catalogsearch/result/?q=finncolor/" class="last away" target="_blank">Купить онлайн</a>
            <a href="/otvetstvennost/" target="_blank">Ответственность</a>
		</div>
		<a target="_blank" href="/image/POLITIKA-KONFIDENTsIALNOSTI-TIKKURILA-_002_.pdf">
			Политика конфиденциальности
		</a>
	</div>
	<div class="bottom-contact">
		<div class="bottom-phone">
			8 (812) 380-33-99
		</div>
		<div class="bottom-email">
			russia.info@tikkurila.com
		</div>
		<div class="bottom-address">192289, Санкт-Петербург, пр. Девятого Января, 15</div>
		<div class="techart">
			<a target="_blank" href="https://design.techart.ru" style="color: #fff">Веб-дизайн сайта</a>,
			<a target="_blank" href="https://web.techart.ru" style="color: #fff">разработка сайта</a> — Текарт.
		</div>
	</div>

</div>		</div>
		<!-- {literal} -->
        <script type='text/javascript'>
        window['l'+'i'+'v'+'eTe'+'x'] = true,
        window['live'+'Tex'+'ID'] = 161017,
        window['l'+'iveT'+'ex'+'_o'+'bje'+'ct'] = true;
        (function() {
        var t = document['cre'+'a'+'teEl'+'em'+'ent']('script');
        t.type ='text/javascript';
        t.async = true;
        t.src = '//cs15.li'+'vetex.ru/js/'+'client.j'+'s';
        var c = document['getEle'+'m'+'entsByTagN'+'ame']('script')[0];
        if ( c ) c['par'+'e'+'ntNo'+'de']['inse'+'rt'+'B'+'efo'+'re'](t, c);
        else document['doc'+'ument'+'Elem'+'ent']['first'+'Child']['app'+'end'+'Ch'+'il'+'d'](t);
        })();
        </script>
<!-- {/literal} -->		<!-- Yandex.Metrika counter -->
<script type="text/javascript">
var yaParams = {/*Здесь параметры визита*/};
</script>

<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter26824407 = new Ya.Metrika({id:26824407,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,params:window.yaParams||{ }});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/26824407" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->	</body>
</html>
